/* Scss Document */
body {
  background-color: #e9e6e4;
  border: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%; }
  body h1, body h2, body h3 {
    color: #691111; }
  body .container {
    display: grid; }
    @media (min-width: 1440px) {
      body .container {
        width: 1440px;
        margin: auto; } }
    @media (max-width: 1200px) {
      body .container {
        width: 90%;
        margin: auto; } }
    @media (max-width: 900px) {
      body .container {
        width: 100%; } }
  body #topsite {
    background-color: #FFFFFF;
    border: 0;
    margin: 0;
    border-bottom: 8px solid #691111; }
    body #topsite .container {
      grid-template-columns: 15% 70% 15%; }
      @media (max-width: 800px) {
        body #topsite .container {
          grid-template-columns: 50% 50% 0%; } }
    body #topsite #menu ul {
      margin: 0px; }
    body #topsite #menu li {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 130%;
      padding: 3rem 1rem; }
    body #topsite #menu li:hover {
      background-color: #691111;
      color: #fff; }
    body #topsite #menu li:hover a {
      color: #fff; }
    body #topsite #menu a {
      color: #691111;
      font-weight: 500px;
      text-decorarion: none !important; }
    body #topsite #menu a:hover {
      color: #fff; }
  body #slide {
    background-color: #49628E;
    width: 100%;
    min-height: 700px; }
  body #about {
    margin-top: -5rem;
    margin-bottom: 5rem; }
    body #about .container {
      grid-template-columns: 55% 45%; }
      @media (max-width: 800px) {
        body #about .container {
          grid-template-columns: 100%; } }
    body #about #geriatria_about, body #about #sobre_naiara {
      background-color: #FFFFFF;
      box-shadow: 0px 3px 10px 0px #777;
      margin: 0 4rem 3rem; }
      @media (max-width: 1200px) {
        body #about #geriatria_about, body #about #sobre_naiara {
          margin: 0 1rem 3rem; } }
    body #about #geriatria_about img.thumb_about {
      margin: -2rem;
      width: 100%;
      height: auto;
      margin: 0; }
    body #about #geriatria_about .text_area {
      padding: 1rem 2.5rem; }
    body #about #sobre_naiara {
      position: relative;
      padding: 2rem; }
      body #about #sobre_naiara h2 {
        width: 50%;
        font-size: 190%; }
      body #about #sobre_naiara ul {
        margin-top: 2rem;
        list-style: none;
        margin-left: -32px; }
        body #about #sobre_naiara ul li {
          margin-top: 0.5rem; }
      body #about #sobre_naiara .crm {
        color: #691111;
        font-weight: 700;
        float: none;
        font-size: 130%; }
      body #about #sobre_naiara .naiara {
        width: 45%;
        position: absolute;
        right: -2rem;
        top: -2rem;
        box-shadow: 0px 3px 10px 0px #777; }
  body #professional h2 {
    margin: auto;
    font-size: 180%;
    text-align: center; }
  body #professional .container {
    margin-top: 2rem;
    grid-template-columns: 25% 25% 25% 25%; }
    @media (max-width: 1200px) {
      body #professional .container {
        grid-template-columns: 50% 50%; } }
    @media (max-width: 800px) {
      body #professional .container {
        grid-template-columns: 100%; } }
    body #professional .container .prof_item {
      background-color: #ffffff;
      text-align: center;
      margin: 1rem;
      padding-bottom: 1rem;
      box-shadow: 0px 3px 10px 0px #777; }
      body #professional .container .prof_item h3 {
        font-size: 130%; }
      body #professional .container .prof_item .crm {
        color: #691111;
        font-size: 115%;
        font-weight: 500; }
